body{
  transition: all .5s ease;
}
#hex {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  display: block;
  height: 150px;
  -webkit-transform-style: preserve-3d;
  -ms-transform: preserve-3d;
  transform-style: preserve-3d;
  max-width: 500px;
  margin: 0 auto 1em;
  color: white;
  text-align: center;
  border-radius: 0.2em;
}
#hex p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  text-align: center;
}
